#auth-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

#auth-toggle .register {
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: black;
  font-weight: 900;
  border-radius: 10px;
  border: 1px solid #E2E7ED;
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 900;
  cursor: pointer;
}

#auth-toggle .auth-toggle-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#auth-toggle .auth-toggle-top h2 {
  margin-top: 46px;
  margin-bottom: 30px;
  font-family: Regular;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

#auth-toggle .auth-toggle-top label {
  margin-top: 10px;
  margin-bottom: 12px;
  display: block;
  width: 100%;
}

#auth-toggle .auth-toggle-top label[for=regis-name], #auth-toggle .auth-toggle-top label[for=auth-mail] {
  margin-top: 0;
}

#auth-toggle .auth-toggle-top input[type=submit] {
  border: none;
  outline: none;
  background: #FF613B;
  height: 54px;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#auth-toggle .auth-toggle-top .pass-reset {
  margin-top: 30px;
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: #171717;
  font-weight: 900;
}

label[for=auth-pass], label[for=regis-pass] {
  margin-top: 10px;
}

.register.register-active {
  visibility: hidden;
}

.auth-toggle-black-screen.on {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background: black;
  opacity: .8;
  z-index: 99;
}

.exit-auth-toggle,
.back-to-auth {
  width: 44px;
  height: 44px;
  border: 1px solid #E2E7ED;
  border-radius: 6px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#back-to-auth {
  visibility: hidden;
}

#back-to-auth .a {
  fill: #D0D0D0;
}

#back-to-auth.register-active {
  visibility: unset;
}

.auth-reg-navs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.auth-toggle-form,
.regis-toggle-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.none {
  display: none;
}

#auth-toggle-form.none,
#regis-toggle-form.none {
  display: none;
}

.form-svg-div svg .a {
  fill: #171717;
}

.form-svg-div #lock {
  fill: #171717;
}

.auth-succ-or-error {
  display: none;
}

.auth-succ-or-error.success {
  display: block;
}

.auth-succ-or-error.success::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  content: '';
  background: url(../images/check-circle-green.svg) no-repeat center;
  background-size: contain;
  position: relative;
  right: 20px;
  display: block;
  height: 22px;
  width: 22px;
  padding: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth-succ-or-error.error {
  display: block;
}

.auth-succ-or-error.error::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  content: '';
  background-size: contain;
  position: relative;
  right: 20px;
  top: 50%;
  display: block;
  height: 22px;
  width: 22px;
  padding: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background: url(../images/exclamation-circle.svg) no-repeat center;
}

.form-inside-div:nth-child(1) {
  background: red;
}
/*# sourceMappingURL=auth-toggle.css.map */