@import url(styleraw.css);
#auth-toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  width: 572px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  padding: 20px 81px 20px 102px;
}

.auth-toggle-black-screen.on {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background: black;
  opacity: .8;
  z-index: 99;
}

.auth-toggle-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-toggle-form .exit-auth-toggle {
  width: 44px;
  height: 44px;
  border: 1px solid #E2E7ED;
  border-radius: 6px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.auth-toggle-form h2 {
  margin-top: 46px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}

.auth-toggle-form label {
  margin-bottom: 12px;
  display: block;
  width: 100%;
}

.auth-toggle-form label[for=auth-pass] {
  margin-top: 10px;
}

.form-svg-div svg .a {
  fill: #171717;
}

.form-svg-div #lock {
  fill: #171717;
}

.auth-succ-or-error {
  display: none;
}

.auth-succ-or-error.success {
  display: block;
}

.auth-succ-or-error.success::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  content: '';
  background: url(../images/check-circle-green.svg) no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 22px;
  width: 22px;
  padding: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth-succ-or-error.error {
  display: block;
}

.auth-succ-or-error.error::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  content: '';
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 22px;
  width: 22px;
  padding: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background: url(../images/exclamation-circle.svg);
}
/*# sourceMappingURL=style.css.map */