@import auth-toggle 


#burger-header-clone
    // transform: translateY(-50%)
    height: calc(100vh - 90px)
    overflow: scroll
    border-radius: 10px

.founded
    li
        a
            &::after
                display: none

