@import auth-toggle
@import reset-password

// correctings
#burger-header-clone
    height: calc(100vh - 90px)
    overflow: auto
    border-radius: 10px
    border-top-left-radius: 0
    border-bottom-left-radius: 0

.founded
    li
        a
            &::after
                display: none

.home-main.container
    margin-bottom: 90px

nav.respo-nav-outside.container
    position: fixed
    bottom: 0
    left: 0
    height: 100px
    width: 100%
    background: $fa
    z-index: 99

html
    &.overflown
        overflow: hidden

svg.rotate
    transform: rotate(-30deg)
    transition: 600ms 