@charset "UTF-8";
/* fonts */
@font-face {
  font-family: 'Light';
  src: url("../fonts/45-Light.ttf");
}

@font-face {
  font-family: 'Roman';
  src: url("../fonts/55-Roman.ttf");
}

@font-face {
  font-family: 'Bold75';
  src: url("../fonts/75-Bold.ttf");
}

@font-face {
  font-family: 'Regular';
  src: url("../fonts/bpg-le-studio-04-caps-webfont.ttf");
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
  font-family: FiraBold;
  src: url(../fonts/FiraGO-Bold.ttf);
}

@font-face {
  font-family: FiraMedium;
  src: url(../fonts/FIRAGO-MEDIUM2.TTF);
}

#auth-toggle {
  position: fixed;
  top: 30px;
  right: 0;
  width: 0;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 160px);
  z-index: 101;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  border-radius: 10px 0px 0px 10px;
}

@media screen and (min-width: 800px) {
  #auth-toggle {
    top: 0;
    border-radius: 0;
    height: 100vh;
  }
}

#auth-toggle .register {
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: black;
  font-weight: 900;
  border-radius: 10px;
  border: 1px solid #E2E7ED;
  width: 100%;
  padding: 19.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 900;
  cursor: pointer;
  margin-top: 30px;
}

#auth-toggle .auth-toggle-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#auth-toggle .auth-toggle-top h2 {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 30px;
  font-family: Regular;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

#auth-toggle .auth-toggle-top label {
  margin-top: 10px;
  margin-bottom: 12px;
  display: block;
  width: 100%;
}

#auth-toggle .auth-toggle-top label[for=regis-name], #auth-toggle .auth-toggle-top label[for=auth-mail], #auth-toggle .auth-toggle-top label[for=passreset-mail] {
  margin-top: 0;
}

#auth-toggle .auth-toggle-top input[type=submit] {
  border: none;
  outline: none;
  background: #FF613B;
  height: 54px;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#auth-toggle .auth-toggle-top .pass-reset {
  margin-top: 30px;
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: #171717;
  font-weight: 900;
}

#auth-toggle.after {
  overflow: auto;
}

label {
  font-family: Roman;
  font-size: 14px;
  line-height: 17px;
}

label[for=auth-pass], label[for=regis-pass] {
  margin-top: 10px;
}

.register.register-active {
  visibility: hidden;
}

.auth-toggle-black-screen.on {
  position: absolute;
  top: 0;
  right: 0;
  height: 1000%;
  width: 100vw;
  background: black;
  opacity: .8;
  z-index: 99;
}

.exit-auth-toggle,
.back-to-auth {
  width: 44px;
  height: 44px;
  border: 1px solid #E2E7ED;
  border-radius: 6px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#back-to-auth {
  visibility: hidden;
}

#back-to-auth .a {
  fill: #D0D0D0;
}

#back-to-auth.register-active {
  visibility: unset;
}

.auth-reg-navs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.auth-toggle-form,
.regis-toggle-form,
.passreset-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#auth-toggle-form.none,
#regis-toggle-form.none,
#passreset-form.none {
  display: none;
}

.form-svg-div svg {
  fill: #E2E7ED;
}

.form-svg-div svg .a {
  fill: #E2E7ED;
}

.form-svg-div svg.on {
  fill: #171717;
}

.form-svg-div svg.on .a {
  fill: #171717;
}

.form-svg-div svg.on #lock {
  fill: #171717;
}

.form-svg-div #lock {
  fill: #E2E7ED;
}

.auth-succ-or-error {
  display: none;
}

.auth-succ-or-error.success {
  display: block;
}

.auth-succ-or-error.success::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  content: '';
  background: url(../images/check-circle-green.svg) no-repeat center;
  background-size: contain;
  position: relative;
  right: 20px;
  display: block;
  height: 22px;
  width: 22px;
  padding: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.auth-succ-or-error.error {
  display: block;
}

.auth-succ-or-error.error::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  content: '';
  background-size: contain;
  position: relative;
  right: 20px;
  top: 50%;
  display: block;
  height: 22px;
  width: 22px;
  padding: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background: url(../images/exclamation-circle.svg) no-repeat center;
}

.mail-used-error {
  display: none;
  position: absolute;
  right: 0;
  bottom: 55px;
  font-size: 10px;
  color: #FF613B;
  font-family: Bold75;
}

.mail-used-error.active {
  display: unset;
}

.form-inside-div:nth-child(1) {
  background: red;
}

.passreset-sent-div {
  opacity: 0;
}

.passreset-form.sent > * {
  opacity: 0;
}

.passreset-form.sent .passreset-sent-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
}

.passreset-form.sent p {
  font-family: Roman;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  max-width: 246px;
}

.passreset-form.sent p span {
  font-family: Bold75;
  color: #FF613B;
  font-weight: 900;
}

.footer-bottom p:first-child {
  font-family: Roman;
  font-size: 12px;
  line-height: 18px;
}

.footer-bottom p a:-webkit-any-link {
  color: #FF613B;
  font-family: Bold75;
}

.footer-bottom p a:-moz-any-link {
  color: #FF613B;
  font-family: Bold75;
}

.footer-bottom p a:any-link {
  color: #FF613B;
  font-family: Bold75;
}

@media only screen and (max-width: 1000px) {
  .burger-header-top li:first-child {
    margin-top: 16px;
  }
}

/* fonts */
@font-face {
  font-family: 'Light';
  src: url("../fonts/45-Light.ttf");
}

@font-face {
  font-family: 'Roman';
  src: url("../fonts/55-Roman.ttf");
}

@font-face {
  font-family: 'Bold75';
  src: url("../fonts/75-Bold.ttf");
}

@font-face {
  font-family: 'Regular';
  src: url("../fonts/bpg-le-studio-04-caps-webfont.ttf");
}

.res-pas {
  background: white;
  padding: 40px 30px;
  border-radius: 10px;
}

.res-pas input[value="ახალი პაროლის დაყენება"] {
  margin-bottom: 50px;
}

.res-pas label {
  display: block;
  margin-top: 10px;
  margin-bottom: 12px;
}

.res-pas label:first-child {
  margin-top: 0;
}

.res-pas .res-pas-pm-cat-titles {
  margin-bottom: 90px;
}

.res-pas h1 {
  font-family: Regular;
  font-size: 24px;
  line-height: 32px;
  color: black;
  margin-bottom: 12px;
}

input[type=submit] {
  border: none;
  outline: none;
  background: #FF613B;
  height: 54px;
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  font-family: Regular;
  font-size: 12px;
  line-height: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.res-pas-form {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
}

/* fonts */
@font-face {
  font-family: 'Light';
  src: url("../fonts/45-Light.ttf");
}

@font-face {
  font-family: 'Roman';
  src: url("../fonts/55-Roman.ttf");
}

@font-face {
  font-family: 'Bold75';
  src: url("../fonts/75-Bold.ttf");
}

@font-face {
  font-family: 'Regular';
  src: url("../fonts/bpg-le-studio-04-caps-webfont.ttf");
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
  font-family: FiraBold;
  src: url(../fonts/FiraGO-Bold.ttf);
}

@font-face {
  font-family: FiraMedium;
  src: url(../fonts/FIRAGO-MEDIUM2.TTF);
}

@font-face {
  font-family: HelvNeue;
  src: url(../fonts/75-Bold.ttf);
}

@font-face {
  font-family: FiraBook;
  src: url(../fonts/FIRAGO-BOOK.TTF);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: FiraRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
  font-family: FiraBold;
  src: url(../fonts/FiraGO-Bold.ttf);
}

@font-face {
  font-family: FiraMedium;
  src: url(../fonts/FIRAGO-MEDIUM2.TTF);
}

/* fonts */
@font-face {
  font-family: 'Light';
  src: url("../fonts/45-Light.ttf");
}

@font-face {
  font-family: 'Roman';
  src: url("../fonts/55-Roman.ttf");
}

@font-face {
  font-family: 'Bold75';
  src: url("../fonts/75-Bold.ttf");
}

@font-face {
  font-family: 'Regular';
  src: url("../fonts/bpg-le-studio-04-caps-webfont.ttf");
}

.active-switcher > div {
  display: none;
}

.active-switcher > div.active {
  display: block;
}

.historyOrder {
  background: white;
  padding: 0;
  border-radius: 6px;
  padding: 40px 20px;
}

@media screen and (min-width: 800px) {
  .historyOrder {
    padding: 30px 15px;
    width: 100%;
  }
}

.historyOrder h1 {
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .historyOrder h1 {
    margin-bottom: 40px;
  }
}

.historyOrder ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

@media screen and (min-width: 800px) {
  .historyOrder ul {
    margin-bottom: 30px;
  }
}

.historyOrder li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-bottom: 16px;
}

.historyOrder li:last-child {
  margin-bottom: 0;
}

.historyOrder-li {
  cursor: pointer;
  height: 55px;
  padding: 5px;
  border: 1px solid #E2E7ED;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: height .4s;
  transition: height .4s;
}

@media screen and (min-width: 800px) {
  .historyOrder-li {
    padding: 10px;
  }
}

.historyOrder-li.active {
  height: 255px;
}

.historyOrder-li.active .historyOrder-content {
  border-bottom: 1px solid #E2E7ED;
  margin-bottom: 24px;
  position: relative;
}

@media screen and (min-width: 800px) {
  .historyOrder-li.active .historyOrder-content {
    border-bottom: none;
  }
}

@media screen and (min-width: 800px) {
  .historyOrder-li.active .historyOrder-li-dropdown {
    position: relative;
  }
  .historyOrder-li.active .historyOrder-li-dropdown::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    height: 1px;
    width: calc((100% + 10px) / 100 * 82);
    background: #E2E7ED;
  }
}

@media screen and (min-width: 800px) {
  .historyOrder-dropdown-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 900;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.historyOrder-left {
  font-family: Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historyOrder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.historyOrder-number {
  height: 44px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  background: #FF613B;
}

@media screen and (min-width: 800px) {
  .historyOrder-number {
    height: 34px;
    width: 34px;
  }
}

.historyOrder-id {
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .historyOrder-id {
    font-size: 18px;
  }
}

.historyOrder-date {
  font-family: Roman;
  font-size: 14px;
}

.historyOrder-seemore {
  color: #FF613B;
  font-size: 12px;
  cursor: pointer;
  font-family: Bold75;
}

.historyOrder-li-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 800px) {
  .historyOrder-li-dropdown {
    padding: 30px 67px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.historyOrder-li-dropdown img {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin-right: 15px;
}

@media screen and (min-width: 800px) {
  .historyOrder-li-dropdown img {
    width: 83px;
    height: 83px;
  }
}

.historyOrder-name:-webkit-any-link {
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
  font-family: Light;
  font-weight: normal;
}

.historyOrder-name:-moz-any-link {
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
  font-family: Light;
  font-weight: normal;
}

.historyOrder-name:any-link {
  margin-bottom: 16px;
  display: block;
  font-size: 14px;
  font-family: Light;
  font-weight: normal;
}

.historyOrder-descriptions {
  font-family: Light;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (min-width: 800px) {
  .historyOrder-descriptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.historyOrder-descriptions > div {
  margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
  .historyOrder-descriptions > div {
    margin-bottom: 16px;
  }
}

.historyOrder-descriptions > div:last-child {
  margin-bottom: 0;
}

.historyOrder-descriptions > div:nth-last-child(2) {
  margin-bottom: 16px;
}

.historyOrder-descriptions > div span {
  color: #FF613B;
  font-family: Bold75;
}

.linkToProduct:-webkit-any-link {
  color: #FF613B;
  font-family: Bold75;
}

.linkToProduct:-moz-any-link {
  color: #FF613B;
  font-family: Bold75;
}

.linkToProduct:any-link {
  color: #FF613B;
  font-family: Bold75;
}

@media screen and (min-width: 800px) {
  .linkToProduct:-webkit-any-link {
    margin-bottom: 16px;
  }
  .linkToProduct:-moz-any-link {
    margin-bottom: 16px;
  }
  .linkToProduct:any-link {
    margin-bottom: 16px;
  }
}

#burger-header-clone {
  overflow: auto;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 100;
  height: calc(100vh - 160px);
  border-radius: 0px 10px 10px 0px;
  top: 30px;
}

.founded li a::after {
  display: none;
}

.home-main.container {
  margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {
  .home-main.container {
    margin-bottom: 90px;
  }
}

nav.respo-nav-outside.container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #FAFAFA;
  z-index: 99;
}

html.overflown {
  overflow: hidden;
}

svg.rotate {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.respo-nav-inside .srch-on:not(:first-child):not(.clicked) {
  display: none;
}

.respo-nav-inside .srchbar-respo form {
  display: none;
}

.respo-nav-inside .srchbar-respo form button {
  border: none;
  outline: non;
  background: none;
}

.respo-nav-inside .srchbar-respo form button:focus {
  outline: none;
  border: none;
}

.respo-nav-inside .srchbar-respo.clicked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 34px;
}

.respo-nav-inside .srchbar-respo.clicked > svg {
  display: none;
}

.respo-nav-inside .srchbar-respo.clicked form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.turn-off-searchbar-respo {
  position: absolute;
  right: 13px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  z-index: 999;
  cursor: pointer;
}

.searchbar-respo-form-input {
  outline: none;
  border: none;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 12px;
  line-height: 15px;
  font-family: Roman;
  width: 100%;
}

.searchbar-respo-form-input::-webkit-input-placeholder {
  color: #D0D0D0;
}

.searchbar-respo-form-input:-ms-input-placeholder {
  color: #D0D0D0;
}

.searchbar-respo-form-input::-ms-input-placeholder {
  color: #D0D0D0;
}

.searchbar-respo-form-input::placeholder {
  color: #D0D0D0;
}

@media screen and (max-width: 450px) {
  #product-add-btn div {
    margin-left: 0;
  }
}

/* new style btn */
.new-style-btn:-webkit-any-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--orange);
  padding-right: 20px;
  color: white;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  font-family: Regular;
  font-weight: bold;
  overflow: hidden;
}
.new-style-btn:-moz-any-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--orange);
  padding-right: 20px;
  color: white;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  font-family: Regular;
  font-weight: bold;
  overflow: hidden;
}
.new-style-btn:any-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--orange);
  padding-right: 20px;
  color: white;
  font-size: 12px;
  line-height: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: Regular;
  font-weight: bold;
  overflow: hidden;
}

.new-style-btn:-webkit-any-link .new-btn-svg-container {
  overflow: hidden;
  padding: 0 20px;
  min-width: 62px;
  max-width: 62px;
  margin-right: 10px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.new-style-btn:-moz-any-link .new-btn-svg-container {
  overflow: hidden;
  padding: 0 20px;
  min-width: 62px;
  max-width: 62px;
  margin-right: 10px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.new-style-btn:any-link .new-btn-svg-container {
  overflow: hidden;
  padding: 0 20px;
  min-width: 62px;
  max-width: 62px;
  margin-right: 10px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-style-btn:-webkit-any-link div {
  font-size: 12px;
  line-height: 12px;
}

.new-style-btn:-moz-any-link div {
  font-size: 12px;
  line-height: 12px;
}

.new-style-btn:any-link div {
  font-size: 12px;
  line-height: 12px;
}

.new-style-btn:-webkit-any-link .new-style-btn-added {
  display: none;
}

.new-style-btn:-moz-any-link .new-style-btn-added {
  display: none;
}

.new-style-btn:any-link .new-style-btn-added {
  display: none;
}

.new-style-btn:-webkit-any-link svg {
  min-width: 22px;
  min-height: 22px;
  position: absolute;
}

.new-style-btn:-moz-any-link svg {
  min-width: 22px;
  min-height: 22px;
  position: absolute;
}

.new-style-btn:any-link svg {
  min-width: 22px;
  min-height: 22px;
  position: absolute;
}

.new-style-btn:-webkit-any-link .svg-shopping-cart-new {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
}

.new-style-btn:-moz-any-link .svg-shopping-cart-new {
  opacity: 1;
  transform: translateX(0) rotate(0);
}

.new-style-btn:any-link .svg-shopping-cart-new {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
}

.new-style-btn:-webkit-any-link .svg-check-circle-new {
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
  opacity: 0;
}

.new-style-btn:-moz-any-link .svg-check-circle-new {
  transform: translateX(225%) rotate(-35deg);
  opacity: 0;
}

.new-style-btn:any-link .svg-check-circle-new {
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
  opacity: 0;
}

.new-style-btn:-webkit-any-link.removed {
  -webkit-animation: 2000ms btnSmallGrowReset;
          animation: 2000ms btnSmallGrowReset;
}

.new-style-btn:-moz-any-link.removed {
  animation: 2000ms btnSmallGrowReset;
}

.new-style-btn:any-link.removed {
  -webkit-animation: 2000ms btnSmallGrowReset;
          animation: 2000ms btnSmallGrowReset;
}

.new-style-btn:-webkit-any-link.removed .svg-shopping-cart-new {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  -webkit-animation: 1200ms appear;
          animation: 1200ms appear;
}

.new-style-btn:-moz-any-link.removed .svg-shopping-cart-new {
  opacity: 1;
  transform: translateX(0) rotate(0);
  animation: 1200ms appear;
}

.new-style-btn:any-link.removed .svg-shopping-cart-new {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  -webkit-animation: 1200ms appear;
          animation: 1200ms appear;
}

.new-style-btn:-webkit-any-link.removed .svg-check-circle-new {
  -webkit-box-ordinal-group: 0;
          order: -1;
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
  opacity: 1;
  -webkit-animation: 1200ms vanish;
          animation: 1200ms vanish;
}

.new-style-btn:-moz-any-link.removed .svg-check-circle-new {
  order: -1;
  transform: translateX(225%) rotate(-35deg);
  opacity: 1;
  animation: 1200ms vanish;
}

.new-style-btn:any-link.removed .svg-check-circle-new {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
  opacity: 1;
  -webkit-animation: 1200ms vanish;
          animation: 1200ms vanish;
}

.new-style-btn:-webkit-any-link.added {
  -webkit-animation: 2000ms btnSmallGrow;
          animation: 2000ms btnSmallGrow;
}

.new-style-btn:-moz-any-link.added {
  animation: 2000ms btnSmallGrow;
}

.new-style-btn:any-link.added {
  -webkit-animation: 2000ms btnSmallGrow;
          animation: 2000ms btnSmallGrow;
}

.new-style-btn:-webkit-any-link.added .svg-shopping-cart-new {
  opacity: 0;
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
  -webkit-animation: 1200ms vanish;
          animation: 1200ms vanish;
}

.new-style-btn:-moz-any-link.added .svg-shopping-cart-new {
  opacity: 0;
  transform: translateX(225%) rotate(-35deg);
  animation: 1200ms vanish;
}

.new-style-btn:any-link.added .svg-shopping-cart-new {
  opacity: 0;
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
  -webkit-animation: 1200ms vanish;
          animation: 1200ms vanish;
}

.new-style-btn:-webkit-any-link.added .svg-check-circle-new {
  -webkit-box-ordinal-group: 0;
          order: -1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  opacity: 1;
  -webkit-animation: 1200ms appear;
          animation: 1200ms appear;
}

.new-style-btn:-moz-any-link.added .svg-check-circle-new {
  order: -1;
  transform: translateX(0) rotate(0);
  opacity: 1;
  animation: 1200ms appear;
}

.new-style-btn:any-link.added .svg-check-circle-new {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  opacity: 1;
  -webkit-animation: 1200ms appear;
          animation: 1200ms appear;
}

.new-style-btn:-webkit-any-link.added .new-style-btn-add {
  display: none;
}

.new-style-btn:-moz-any-link.added .new-style-btn-add {
  display: none;
}

.new-style-btn:any-link.added .new-style-btn-add {
  display: none;
}

.new-style-btn:-webkit-any-link.added .new-style-btn-added {
  display: block;
}

.new-style-btn:-moz-any-link.added .new-style-btn-added {
  display: block;
}

.new-style-btn:any-link.added .new-style-btn-added {
  display: block;
}

.new-style-btn:-webkit-any-link.added-constant .svg-shopping-cart-new {
  opacity: 0;
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
}

.new-style-btn:-moz-any-link.added-constant .svg-shopping-cart-new {
  opacity: 0;
  transform: translateX(225%) rotate(-35deg);
}

.new-style-btn:any-link.added-constant .svg-shopping-cart-new {
  opacity: 0;
  -webkit-transform: translateX(225%) rotate(-35deg);
          transform: translateX(225%) rotate(-35deg);
}

.new-style-btn:-webkit-any-link.added-constant .svg-check-circle-new {
  -webkit-box-ordinal-group: 0;
          order: -1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  opacity: 1;
}

.new-style-btn:-moz-any-link.added-constant .svg-check-circle-new {
  order: -1;
  transform: translateX(0) rotate(0);
  opacity: 1;
}

.new-style-btn:any-link.added-constant .svg-check-circle-new {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  opacity: 1;
}

.new-style-btn:-webkit-any-link.added-constant .new-style-btn-add {
  display: none;
}

.new-style-btn:-moz-any-link.added-constant .new-style-btn-add {
  display: none;
}

.new-style-btn:any-link.added-constant .new-style-btn-add {
  display: none;
}

.new-style-btn:-webkit-any-link.added-constant .new-style-btn-added {
  display: block;
}

.new-style-btn:-moz-any-link.added-constant .new-style-btn-added {
  display: block;
}

.new-style-btn:any-link.added-constant .new-style-btn-added {
  display: block;
}

@-webkit-keyframes btnSmallGrow {
  0% {
    max-width: 100%;
  }
  33% {
    max-width: 62px;
  }
  67% {
    max-width: 62px;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes btnSmallGrow {
  0% {
    max-width: 100%;
  }
  33% {
    max-width: 62px;
  }
  67% {
    max-width: 62px;
  }
  100% {
    max-width: 100%;
  }
}

@-webkit-keyframes btnSmallGrowReset {
  0% {
    max-width: 100%;
  }
  33% {
    max-width: 62px;
  }
  67% {
    max-width: 62px;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes btnSmallGrowReset {
  0% {
    max-width: 100%;
  }
  33% {
    max-width: 62px;
  }
  67% {
    max-width: 62px;
  }
  100% {
    max-width: 100%;
  }
}

@-webkit-keyframes vanish {
  0% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
  33.3% {
    -webkit-transform: translateX(0) rotate(-35deg);
            transform: translateX(0) rotate(-35deg);
  }
  66.6% {
    -webkit-transform: translateX(225%) rotate(-35deg);
            transform: translateX(225%) rotate(-35deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(225%) rotate(-35deg);
            transform: translateX(225%) rotate(-35deg);
    opacity: 0;
  }
}

@keyframes vanish {
  0% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
  33.3% {
    -webkit-transform: translateX(0) rotate(-35deg);
            transform: translateX(0) rotate(-35deg);
  }
  66.6% {
    -webkit-transform: translateX(225%) rotate(-35deg);
            transform: translateX(225%) rotate(-35deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(225%) rotate(-35deg);
            transform: translateX(225%) rotate(-35deg);
    opacity: 0;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-box-ordinal-group: 0;
            order: -1;
    opacity: 0;
  }
  50% {
    -webkit-box-ordinal-group: 0;
            order: -1;
    opacity: 0;
  }
  100% {
    -webkit-box-ordinal-group: 0;
            order: -1;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    opacity: 0;
  }
  50% {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    opacity: 0;
  }
  100% {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    opacity: 1;
  }
}

.select-svg-div svg {
  fill: #E2E7ED;
}
/*# sourceMappingURL=style.css.map */